.custom-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s;
  overflow: hidden;
}

.card-img-top {
  height: 40vh;
  object-fit: fill;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: large;
  font-weight: 600;
  overflow: hidden;
}

